#message-section {
    height: 50px;
    background: rgb(252, 183, 56);
    display: flex;
    align-items: center;
    justify-content: center;
}

.game-area {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.game-area section {
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    height: 65vh;
}

#chef-button {
    width: 100px;
    padding: 10px;
}

#chef-button img {
    width: 100%;
}

#food-section img {
    width: 50px;
}

#diner-list {
    width: 100%;
    // display: grid;
    // gap: 10px;
}

#diner-list li {
    padding: 5px 10px;
    font-size: 2em;
    background: white;
    border: 1px solid lightgrey;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#diner-list li img {
    width: 20px;
    height: 20px;
}
